//sass自定义滚动条样式 $foreground-color, $background-color
//::-webkit-scrollbar {
//    width: 1px;
//    height: 1px;
//    border-radius: 3px;
//}
@mixin scrollBarStyle($background-color) {
    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: $background-color;
    }
}
@include scrollBarStyle($-color-C9CDD4);
@mixin hoverScrollBarStyle($background-color) {
    @include scrollBarStyle(transparent);
    &:hover{
        @include scrollBarStyle($background-color);
    }
}

